.profile-page__controls {
  margin: 2rem auto;
  max-width: 31.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .profile-page__button {
    cursor: pointer;
    background: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.profile-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
