.error404 {
  margin: 20px;
  &__title {
    font-size: 4rem;
  }

  &__subtitle {
    font-size: 2rem;
  }

  &__btn {
    background-color: #ff8800;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    margin: 20px auto;
    font-weight: bold;
    text-decoration: none;
    transition: background 500ms ease;

    &:hover {
      background-color: #ffaf53;
    }
  }
}
